<!doctype html>

<html lang="ru">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>проект</title>
<link rel="stylesheet" href="../styles/assembled.css">
<script src="https://kit.fontawesome.com/b1f4a07e63.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="content"></div>
<header class="header">
<div class="header__wrapper__heading">
<div class="container">
<div class="header__inner__heading">
<div class="header__heading">
<nav class="header__heading__nav">
<ul class="header__heading__nav__menu"> 
<li class="header__heading__nav__menu__item" >
<a class="header__heading__nav__menu__item__link" href="#">Sign in</a>
</li>
<li class="header__heading__nav__menu__item" >
<a class="header__heading__nav__menu__item__link" href="#">My account</a>
</li>
<li class="header__heading__nav__menu__item" >
<a class="header__heading__nav__menu__item__link" href="#">Order Status</a>
</li>
<li class="header__heading__nav__menu__item" >
<a class="header__heading__nav__menu__item__link" href="#">Help</a>
</li>
</ul>
</nav>
</div>
</div>
</div>
</div>
<div class="header__wrapper__user__data">
<div class="container">
<div class="header__inner__user__data">
<div class="header__heading__user__data">
<div class="header__heading__user__data__logo"><img class="header__heading__user__data__logo__img" src="../imgs/wiews/common/header/img/logo.png" alt="logo" class="logo"></div>
<div class="header__heading__user__data__search"><div class="header__heading__user__data__search__field"><input class="header__heading__user__data__search__field__left" type="search" name="q"placeholder="Site search "><input class="header__heading__user__data__search__field__right" type="submit" value="Search"></div></div>
<div class="header__heading__user__data__purchases">
<div class="header__heading__user__data__purchases__basket">
<div class="header__heading__user__data__purchases__basket__filling"><a class="header__heading__user__data__purchases__basket__filling__icon" href="#"><i class="fas fa-cart-arrow-down"></i></a></div>
<div class="header__heading__user__data__purchases__basket__quantity"><p class="header__heading__user__data__purchases__basket__quntity__text">Your cart</p></div>
</div>

<div class="header__heading__user__data__purchases__order">
<div class="header__heading__user__data__purchases__order__payment"><p class="header__heading__user__data__purchases__basket__payment__price">$125.0</p></div>
<div class="header__heading__user__data__purchases__basket__reservation"><a class="header__heading__user__data__purchases__basket__reservation__button" href="#">Checkout</a></div></div>

</div>
<div class="block-vert-line"></div>
<div class="header__heading__user__data__purchases__favorites">
<a class="header__heading__user__data__purchases__favorites__icon" href="#"><i class="fas fa-star"></i></a>

<p class="header__heading__user__data__purchases__favorites__name">Wish list</p>
</div>
</div>
</div>
</div>
</div>
<div class="header__wrapper__sections">
<div class="container">
<div class="header__inner__sections">
<div class="header__heading__sections">
<ul class="header__heading__sections__menu"> 
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Computers</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Cooking</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Education</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Fiction</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Healts</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Mathematics</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Medical</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Reference</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Science</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</header>
<section class="advertising">
<div class="advertising__wrapper">
<div class="container"> 
<div class="advertising__inner">
<div class="advertising__left"><img class="advertising__left__img" src="../imgs/wiews/pages/advertising/img/advertising__left.png" alt="advertising__left" class="img">
</div>
<div class="advertising__right"><img class="advertising__right__img" src="../imgs/wiews/pages/advertising/img/advertising__right.png" alt="advertising__fight" class="img">
</div>
</div>
</div>
</div>
</section>
<section class="content">
<div class="content__wrapper">
<div class="container"> 
<div class="content__inner">
<div class="content__categories">
<div class="content__categories__heading">
<p class="content__categories__heading__text">Categories</p>
<ul class="content__categories__heading__menu"> 
<li class="content__categories__heading__menu__item" >
<a class="content__categories__heading__menu__item__link" href="#">ALL</a>
</li>
</ul>
</div>
<div class="content__categories__nav__first">
<p class="content__categories__nav__first__text">Fiction &#38; Literature</p>
<ul class="content__categories__nav__first__menu"> 
<li class="content__categories__nav__first__menu__item" >
<a class="content__categories__nav__first__menu__item__link" href="#">Children</a>
</li>
<li class="content__categories__nav__first__menu__item" >
<a class="content__categories__nav__first__menu__item__link" href="#">Science Fiction</a>
</li>
<li class="content__categories__nav__first__menu__item" >
<a class="content__categories__nav__first__menu__item__link" href="#">Fantasy</a>
</li>
<li class="content__categories__nav__first__menu__item" >
<a class="content__categories__nav__first__menu__item__link" href="#">Mystery</a>
</li>
<li class="content__categories__nav__first__menu__item" >
<a class="content__categories__nav__first__menu__item__link" href="#">Romance</a>
</li>
<li class="content__categories__nav__first__menu__item" >
<a class="content__categories__nav__first__menu__item__link" href="#">Horror</a>
</li>
<li class="content__categories__nav__first__menu__item" >
<a class="content__categories__nav__first__menu__item__link" href="#">Poetry</a>
</li>
<li class="content__categories__nav__first__menu__item" >
<a class="content__categories__nav__first__menu__item__link" href="#">Literature</a>
</li>
<li class="content__categories__nav__first__menu__item" >
<a class="content__categories__nav__first__menu__item__link" href="#">Crime</a>
</li>
</ul>
</div>
<div class="content__categories__nav__second">
<p class="content__categories__nav__second__text">Non - Fiction</p>
<ul class="content__categories__nav__second__menu"> 
<li class="content__categories__nav__second__menu__item" >
<a class="content__categories__nav__second__menu__item__link" href="#">Comic</a>
</li>
<li class="content__categories__nav__second__menu__item" >
<a class="content__categories__nav__second__menu__item__link" href="#">Cook</a>
</li>
<li class="content__categories__nav__second__menu__item" >
<a class="content__categories__nav__second__menu__item__link" href="#">Psychology</a>
</li>
<li class="content__categories__nav__second__menu__item" >
<a class="content__categories__nav__second__menu__item__link" href="#">Medical</a>
</li>
<li class="content__categories__nav__second__menu__item" >
<a class="content__categories__nav__second__menu__item__link" href="#">Art</a>
</li>
<li class="content__categories__nav__second__menu__item" >
<a class="content__categories__nav__second__menu__item__link" href="#">Photography</a>
</li>
<li class="content__categories__nav__second__menu__item" >
<a class="content__categories__nav__second__menu__item__link" href="#">Law</a>
</li>
<li class="content__categories__nav__second__menu__item" >
<a class="content__categories__nav__second__menu__item__link" href="#">History</a>
</li>
<li class="content__categories__nav__second__menu__item" >
<a class="content__categories__nav__second__menu__item__link" href="#">Business</a>
</li>
<li class="content__categories__nav__second__menu__item" >
<a class="content__categories__nav__second__menu__item__link" href="#">Computer</a>
</li>
</ul>
</div>
<div class="content__categories__nav__third">
<p class="content__categories__nav__third__text">Other</p>
<ul class="content__categories__nav__third__menu"> 
<li class="content__categories__nav__third__menu__item" >
<a class="content__categories__nav__third__menu__item__link" href="#">Baby</a>
</li>
<li class="content__categories__nav__third__menu__item" >
<a class="content__categories__nav__third__menu__item__link" href="#">Sex</a>
</li>
<li class="content__categories__nav__third__menu__item" >
<a class="content__categories__nav__third__menu__item__link" href="#">Travel</a>
</li>
<li class="content__categories__nav__third__menu__item" >
<a class="content__categories__nav__third__menu__item__link" href="#">Science</a>
</li>
<li class="content__categories__nav__third__menu__item" >
<a class="content__categories__nav__third__menu__item__link" href="#">Sports</a>
</li>
</ul>
</div>
</div>
<div class="content__products">
<div class="content__products__pages">
<div class="content__products__page">
<a class="content__products__page__button" href="#">New Arrivals</a>
</div>
<div class="content__products__page">
<a class="content__products__page__button" href="#">Used Books</a>
</div>
<div class="content__products__page">
<a class="content__products__page__button" href="#">Special Offers</a>
</div>
</div>
<div class="content__products__product">
<div class="content__products__product__choice">
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/war.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">The war of <br> Art <br> <span class="content__products__product__choice__line__name__price">$50</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/war.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">The war of <br> Art <br> <span class="content__products__product__choice__line__name__price">$50</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/war.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">The war of <br> Art <br> <span class="content__products__product__choice__line__name__price">$50</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/war.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">The war of <br> Art <br> <span class="content__products__product__choice__line__name__price">$50</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/war.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">The war of <br> Art <br> <span class="content__products__product__choice__line__name__price">$50</span></p></div></a></div>
</div>
<div class="content__products__product__choice">
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/meluha.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">The Immortals <br> of Meluha <br> <span class="content__products__product__choice__line__name__price">$80</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/meluha.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">The Immortals <br> of Meluha <br> <span class="content__products__product__choice__line__name__price">$80</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/meluha.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">The Immortals <br> of Meluha <br> <span class="content__products__product__choice__line__name__price">$80</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/meluha.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">The Immortals <br> of Meluha <br> <span class="content__products__product__choice__line__name__price">$80</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/meluha.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">The Immortals <br> of Meluha <br> <span class="content__products__product__choice__line__name__price">$80</span></p></div></a></div>
</div>
<div class="content__products__product__choice">
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/life.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">Life is What You <br> Make it <br> <span class="content__products__product__choice__line__name__price">$200</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/life.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">Life is What You <br> Make it <br> <span class="content__products__product__choice__line__name__price">$200</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/life.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">Life is What You <br> Make it <br> <span class="content__products__product__choice__line__name__price">$200</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/life.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">Life is What You <br> Make it <br> <span class="content__products__product__choice__line__name__price">$200</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/life.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">Life is What You <br> Make it <br> <span class="content__products__product__choice__line__name__price">$200</span></p></div></a></div>
</div> 
</div>
</div>
</div>
</div>
</div>
</section>
<section class="additionally">
<div class="additionally__wrapper">
<div class="container"> 
<div class="additionally__inner">
<div class="additionally__one">
<p class="additionally__one__heading">Biography &#38; True Stories</p>
<ul class="additionally__one__links"> 
<li class="additionally__one__links__item">
<a class="additionally__one__links__item__link" href="#">General</a>
</li>
<li class="additionally__one__links__item" >
<a class="additionally__one__links__item__link" href="#">Diaries,Letters &#38; Journals</a>
</li>
<li class="additionally__one__links__item" >
<a class="additionally__one__links__item__link" href="#">Memoirs</a>
</li>
<li class="additionally__one__links__item" >
<a class="additionally__one__links__item__link" href="#">True Stories</a>
</li>
<li class="additionally__one__links__item" >
<a class="additionally__one__links__item__link" href="#">Generic Exams</a>
</li>
<li class="additionally__one__links__item" >
<a class="additionally__one__links__item__link" href="#">GK Titles</a>
</li>
<li class="additionally__one__links__item" >
<a class="additionally__one__links__item__link" href="#">Medical Entrance</a>
</li>
<li class="additionally__one__links__item" >
<a class="additionally__one__links__item__link" href="#">Other Entrance Exams</a>
</li>
<li class="additionally__one__links__item" >
<a class="additionally__one__links__item__link" href="#">PG Entrance Examinations</a>
</li>
<li class="additionally__one__links__item" >
<a class="additionally__one__links__item__link" href="#">Self-help Titles</a>
</li>
<li class="additionally__one__links__item" >
<a class="additionally__one__links__item__link" href="#">Sociology</a>
</li>
</ul>
</div>
<div class="additionally__two">
<p class="additionally__two__heading">Professional &#38; Reference</p>
<ul class="additionally__two__links"> 
<li class="additionally__two__links__item">
<a class="additionally__two__links__item__link" href="#">Academic and Reference</a>
</li>
<li class="additionally__two__links__item" >
<a class="additionally__two__links__item__link" href="#">Business Trade </a>
</li>
<li class="additionally__two__links__item" >
<a class="additionally__two__links__item__link" href="#">Engineering and Computer Science</a>
</li>
<li class="additionally__two__links__item" >
<a class="additionally__two__links__item__link" href="#">Humanities, Social Sciences and Languages</a>
</li>
<li class="additionally__two__links__item" >
<a class="additionally__two__links__item__link" href="#">Introduction to Computers</a>
</li>
<li class="additionally__two__links__item" >
<a class="additionally__two__links__item__link" href="#">Science and Maths</a>
</li>
<li class="additionally__two__links__item" >
<a class="additionally__two__links__item__link" href="#">Trade Business</a>
</li>
<li class="additionally__two__links__item" >
<a class="additionally__two__links__item__link" href="#">English Language &#38; Literature</a>
</li>
<li class="additionally__two__links__item" >
<a class="additionally__two__links__item__link" href="#">English Language Teaching</a>
</li>
<li class="additionally__two__links__item" >
<a class="additionally__two__links__item__link" href="#">Environment Awareness</a>
</li>
<li class="additionally__two__links__item" >
<a class="additionally__two__links__item__link" href="#">Environment Protection</a>
</li>
</ul>
</div>
<div class="additionally__three">
<p class="additionally__three__heading">Earth Sciences</p>
<ul class="additionally__three__links"> 
<li class="additionally__three__links__item">
<a class="additionally__three__links__item__link" href="#">Earth Sciences</a>
</li>
<li class="additionally__three__links__item" >
<a class="additionally__three__links__item__link" href="#">Geography</a>
</li>
<li class="additionally__three__links__item" >
<a class="additionally__three__links__item__link" href="#">The Environment</a>
</li>
<li class="additionally__three__links__item" >
<a class="additionally__three__links__item__link" href="#">Regional &#38; Area Planning</a>
</li>
<li class="additionally__three__links__item" >
<a class="additionally__three__links__item__link" href="#">Fantasy</a>
</li>
<li class="additionally__three__links__item" >
<a class="additionally__three__links__item__link" href="#">Gay</a>
</li>
<li class="additionally__three__links__item" >
<a class="additionally__three__links__item__link" href="#">Humorous</a>
</li>
<li class="additionally__three__links__item" >
<a class="additionally__three__links__item__link" href="#">Interactiv</a>
</li>
<li class="additionally__three__links__item" >
<a class="additionally__three__links__item__link" href="#">Legal</a>
</li>
<li class="additionally__three__links__item" >
<a class="additionally__three__links__item__link" href="#">Lesbian</a>
</li>
<li class="additionally__three__links__item" >
<a class="additionally__three__links__item__link" href="#">Men'S Adventure</a>
</li>
</ul>
</div>
<div class="additionally__four">
<p class="additionally__four__heading">Mathematics</p>
<ul class="additionally__four__links"> 
<li class="additionally__four__links__item">
<a class="additionally__four__links__item__link" href="#">Algebra</a>
</li>
<li class="additionally__four__links__item" >
<a class="additionally__four__links__item__link" href="#">Differential Equations</a>
</li>
<li class="additionally__four__links__item" >
<a class="additionally__four__links__item__link" href="#">Discrete Mathematics</a>
</li>
<li class="additionally__four__links__item" >
<a class="additionally__three__links__item__link" href="#">Fourier Analysis</a>
</li>
<li class="additionally__four__links__item" >
<a class="additionally__four__links__item__link" href="#">Numerical Analysis</a>
</li>
<li class="additionally__four__links__item" >
<a class="additionally__four__links__item__link" href="#">Probability</a>
</li>
<li class="additionally__four__links__item" >
<a class="additionally__four__links__item__link" href="#">Statistical Methods/data Analysis</a>
</li>
<li class="additionally__four__links__item" >
<a class="additionally__four__links__item__link" href="#">Stochastic And Random Processes</a>
</li>
<li class="additionally__four__links__item" >
<a class="additionally__four__links__item__link" href="#">Topology</a>
</li>
<li class="additionally__four__links__item" >
<a class="additionally__four__links__item__link" href="#">Statistics</a>
</li>
<li class="additionally__four__links__item" >
<a class="additionally__four__links__item__link" href="#">Mathematics</a>
</li>
</ul>
</div>        
</div>
</div>
</div>
</section>
<footer class="footer">
<div class="footer__wrapper">
<div class="container">
<div class="footer__inner">
<div class="footer__payment">
<div class="footer__payment__text">
<p class="footer__payment__text__filling" >We accept all major Credit Card/Debit Card/Internet Banking
</p>
</div>
<div class="footer__payment__img">
<ul class="footer__payment__img__icon">
<li class="footer__payment__img__icon__link" >
<a class="footer__payment__img__icon__imgs" href="#"><img class="footer__payment__img__icon__imgs__left" src="../imgs/wiews/common/footer/img/mc.png" alt="MC"></a>
</li>
<li class="footer__payment__img__icon__link" >
<a class="footer__payment__img__icon__imgs" href="#"><img class="footer__payment__img__icon__imgs__center" src="../imgs/wiews/common/footer/img/ae.png" alt="AE"></a>
<li class="footer__payment__img__icon__link" >
<a class="footer__payment__img__icon__imgs" href="#"><img class="footer__payment__img__icon__imgs__right" src="../imgs/wiews/common/footer/img/v.png" alt="VI"></a>
</ul>
</div>
</div>
</div>
</div>
<div class="footer__wrapper__UPN">
<div class="container">
<div class="footer__inner__UPN">
<div class="footer__UPN">
<p class="footer__UPN__text">Conditions of Use Privacy Notice &#169; 2012-2013, Booksonline,Inc, of its affiliates</P>
</div>
</div>
</div>
</footer>
</body>
</html>