.advertising__inner {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.advertising__right {
    margin-left: 10px;
    width: 25%;
}
.advertising__left {
    width: 75%;
}
.advertising__left__img {
    width: 100%;
    height: 100%;
}
.advertising__right__img {
    width: 100%;
    height: 100%;
}