<!doctype html>

<html lang="ru">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>проект</title>
<link rel="stylesheet" href="../styles/assembled2.css">
<script src="https://kit.fontawesome.com/b1f4a07e63.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="content"></div>
<header class="header">
<div class="header__wrapper__heading">
<div class="container">
<div class="header__inner__heading">
<div class="header__heading">
<nav class="header__heading__nav">
<ul class="header__heading__nav__menu"> 
<li class="header__heading__nav__menu__item" >
<a class="header__heading__nav__menu__item__link" href="#">Sign in</a>
</li>
<li class="header__heading__nav__menu__item" >
<a class="header__heading__nav__menu__item__link" href="#">My account</a>
</li>
<li class="header__heading__nav__menu__item" >
<a class="header__heading__nav__menu__item__link" href="#">Order Status</a>
</li>
<li class="header__heading__nav__menu__item" >
<a class="header__heading__nav__menu__item__link" href="#">Help</a>
</li>
</ul>
</nav>
</div>
</div>
</div>
</div>
<div class="header__wrapper__user__data">
<div class="container">
<div class="header__inner__user__data">
<div class="header__heading__user__data">
<div class="header__heading__user__data__logo"><img class="header__heading__user__data__logo__img" src="../imgs/wiews/common/header/img/logo.png" alt="logo" class="logo"></div>
<div class="header__heading__user__data__search"><div class="header__heading__user__data__search__field"><input class="header__heading__user__data__search__field__left" type="search" name="q"placeholder="Site search "><input class="header__heading__user__data__search__field__right" type="submit" value="Search"></div></div>
<div class="header__heading__user__data__purchases">
<div class="header__heading__user__data__purchases__basket">
<div class="header__heading__user__data__purchases__basket__filling"><a class="header__heading__user__data__purchases__basket__filling__icon" href="#"><i class="fas fa-cart-arrow-down"></i></a></div>
<div class="header__heading__user__data__purchases__basket__quantity"><p class="header__heading__user__data__purchases__basket__quntity__text">Your cart</p></div>
</div>

<div class="header__heading__user__data__purchases__order">
<div class="header__heading__user__data__purchases__order__payment"><p class="header__heading__user__data__purchases__basket__payment__price">$125.0</p></div>
<div class="header__heading__user__data__purchases__basket__reservation"><a class="header__heading__user__data__purchases__basket__reservation__button" href="#">Checkout</a></div></div>

</div>
<div class="block-vert-line"></div>
<div class="header__heading__user__data__purchases__favorites">
<a class="header__heading__user__data__purchases__favorites__icon" href="#"><i class="fas fa-star"></i></a>

<p class="header__heading__user__data__purchases__favorites__name">Wish list</p>
</div>
</div>
</div>
</div>
</div>
<div class="header__wrapper__sections">
<div class="container">
<div class="header__inner__sections">
<div class="header__heading__sections">
<ul class="header__heading__sections__menu"> 
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Computers</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Cooking</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Education</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Fiction</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Healts</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Mathematics</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Medical</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Reference</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Science</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</header>
<section class="content">
<div class="content__wrapper">
<div class="container"> 
<div class="content__inner">
<div class="content__nav">
<p class="content__nav__position">Home &#187; Discounts and Clearance &#187; Sonatini Hippeastrum Alaska</p>
</div>
<div class="content__product">
<div class="content__product__display"><img class="content__product__display__img" src="../imgs/wiews/pages/content2/img/swe.png", alt="swe">
</div>
<div class="content__product__about">
<div class="content__product__about__description">
<h1 class="content__product__about__description__heading">Star Wars Episode 1</h1>
<p class="content__product__about__description__text">The Star Wars Episode 1: The Phantom Menace novelization was written by Terry Brooks <br> and published on April 21, 1999 by Del Rey. It is based on the script of the movie of the <br> same name. Narration for the abridget audio version was performed by Michael <br> Cumpsty. The unabridged version was performed by Alexander Adams. On January 31, <br> 2012, a new paperback edition. </p>
</div>
<div class="content__product__about__order">
<div class="content__product__about__order__price">
<div class="content__product__about__order__price__amount"><a class="content__product__about__order__price__amount__link" href="#">Our price : <span class="red">$150</span></a>
<p class="content__product__about__order__price__amount__text">Was $ 200 Save 20%</p>
</div>
<div class="content__product__about__order__calculation__button"><a class="content__product__about__order__calculation__button__link" href="#">Add to cart</a>
</div>
</div>
<hr class="block-goriz-line">
<div class="content__product__about__order__shoping">
<div class="content__product__about__order__shoping__sss">
<i class="fas fa-lock"></i>
<p class="content__product__about__order__shoping__text">Safe,Secure Shopping</p>
</div>
<ul class="content__product__about__order__shoping__icon">
<li class="content__product__about__order__shoping__icon__link" >
<a class="content__product__about__order__shoping__icon__imgs" href="#"><img class="content__product__about__order__shoping__icon__imgs__img" src="../imgs/wiews/pages/content2/img/pp.png" alt="PP"></a>
</li>
<li class="content__product__about__order__shoping__icon__link" >
<a class="content__product__about__order__shoping__icon__imgs" href="#"><img class="content__product__about__order__shoping__icon__imgs__img" src="../imgs/wiews/common/footer/img/mc.png" alt="MC"></a>
<li class="content__product__about__order__shoping__icon__link" >
<a class="content__product__about__order__shoping__icon__imgs" href="#"><img class="content__product__about__order__shoping__icon__imgs__img" src="../imgs/wiews/common/footer/img/ae.png" alt="AE"></a>
<li class="content__product__about__order__shoping__icon__link" >
<a class="content__product__about__order__shoping__icon__imgs" href="#"><img class="content__product__about__order__shoping__icon__imgs__img" src="../imgs/wiews/common/footer/img/v.png" alt="AE"></a>
</ul>
</div>
</div>
</div>
</div>
<div class="content__feedback">
<div class="content__feedback__information">
<div class="content__feedback__information__product">
<div class="content__feedback__information__product__heading">
<p class="content__feedback__information__product__heading__text">Product Information</p>
<a class="content__feedback__information__product__heading__button" href="#">Other details</a>
</div>
<p class="content__feedback__information__product__text">The Star Wars Episode 1: The Phantom Menace novelization was written by Terry Brooks and published on <br> April 21, 1999 by Del Rey. It is based on the script of the movie of the same name. Narration for the <br> abridget audio version was performed by Michael Cumpsty. The unabridged version was performed by <br> Alexander Adams. On January 31, 2012, a new paperback edition.</p>

</div>
<div class="content__feedback__comments">
<div class="content__feedback__comments__read">
<div class="content__feedback__comments__read__heading">
<p class="content__feedback__comments__read__heading__text">Product review</p>
</div>
<div class="content__feedback__comments__read__first">
<div class="content__feedback__comments__read__first__avatar"><img class="content__feedback__comments__read__first__avatar__img" src="../imgs/wiews/pages/content2/img/ava.png", alt="ava">
<p class="content__feedback__comments__read__first__avatar__name">Name 1</p>
</div>
<p class="content__feedback__comments__read__first__text">The Star Wars Episode 1: The Phantom Menace novelization was written by Terry Brooks and published on <br> April 21, 1999 by Del Rey. It is based on the script of the movie of the same name. Narration for the <br> abridget audio version was performed by Michael Cumpsty. The unabridged version was performed by <br> Alexander Adams. On January 31, 2012, a new paperback edition.</p>
</div>
<hr class="block-goriz-line2">
<div class="content__feedback__comments__read__second">
<div class="content__feedback__comments__read__second__avatar"><img class="content__feedback__comments__read__second__avatar__img" src="../imgs/wiews/pages/content2/img/ava.png", alt="ava">
<p class="content__feedback__comments__read__second__avatar__name">Name 2</p>
</div>
<p class="content__feedback__comments__read__second__text">The Star Wars Episode 1: The Phantom Menace novelization was written by Terry Brooks and published on <br> April 21, 1999 by Del Rey. It is based on the script of the movie of the same name. Narration for the <br> abridget audio version was performed by Michael Cumpsty. The unabridged version was performed by <br> Alexander Adams. On January 31, 2012, a new paperback edition.</p>
</div>
</div>
<div class="content__feedback__comments__write">
<div class="content__feedback__comments__write__heading">
<p class="content__feedback__comments__write__heading__text">Write a comment</p>
</div>
<div class="content__feedback__comments__write__filds">
<div class="content__feedback__comments__write__filds__first"><p class="content__feedback__comments__write__filds__first__name">Your name</p>
<input class="content__feedback__comments__write__filds__first__link" type="search" name="q"placeholder="">
</div>
<div class="content__feedback__comments__write__filds__second"><p class="content__feedback__comments__write__filds__second__name">email</p>
<input class="content__feedback__comments__write__filds__second__link" type="emeil" name="q"placeholder="">
</div>
<div class="content__feedback__comments__write__filds__third"><p class="content__feedback__comments__write__filds__third__name">Message</p>
<input class="content__feedback__comments__write__filds__third__link" type="Message" name="q"placeholder="">
</div>
<div class="content__feedback__comments__write__filds__send"><a class="content__feedback__comments__write__filds__send__button" href="#">Submit</a></div>

</div>
</div>
</div>
</div>
<div class="content__feedback__random">
<div class="content__feedback__random__heading">
<p class="content__feedback__random__heading__text">You may also like</p>
</div>
<div class="content__feedback__random__product">
<div class="content__feedback__random__product__block">
<div class="content__feedback__random__product__block__imgs"><img class="content__feedback__random__product__block__imgs__img" src="../imgs/wiews/pages/content2/img/ran.png", alt="ran">
</div>
<div class="content__feedback__random__product__block__info">
<div class="content__feedback__random__product__block__info__name">
<p class="content__feedback__random__product__block__info__name__text">The Hare With Amber <br> <span class="red">$50</span></p>
</div>
<div class="content__feedback__random__product__block__info__details"><a class="content__feedback__random__product__block__info__details__button" href="#">Read more</a>
</div>
</div>
</div>
<div class="content__feedback__random__product__block">
<div class="content__feedback__random__product__block__imgs"><img class="content__feedback__random__product__block__imgs__img" src="../imgs/wiews/pages/content2/img/ran.png", alt="ran">
</div>
<div class="content__feedback__random__product__block__info">
<div class="content__feedback__random__product__block__info__name">
<p class="content__feedback__random__product__block__info__name__text">The Hare With Amber <br> <span class="red">$50</span></p>
</div>
<div class="content__feedback__random__product__block__info__details"><a class="content__feedback__random__product__block__info__details__button" href="#">Read more</a>
</div>
</div>
</div>
<div class="content__feedback__random__product__block">
<div class="content__feedback__random__product__block__imgs"><img class="content__feedback__random__product__block__imgs__img" src="../imgs/wiews/pages/content2/img/ran.png", alt="ran">
</div>
<div class="content__feedback__random__product__block__info">
<div class="content__feedback__random__product__block__info__name">
<p class="content__feedback__random__product__block__info__name__text">The Hare With Amber <br> <span class="red">$50</span></p>
</div>
<div class="content__feedback__random__product__block__info__details"><a class="content__feedback__random__product__block__info__details__button" href="#">Read more</a>
</div>
</div>
</div>
<div class="content__feedback__random__product__block">
<div class="content__feedback__random__product__block__imgs"><img class="content__feedback__random__product__block__imgs__img" src="../imgs/wiews/pages/content2/img/ran.png", alt="ran">
</div>
<div class="content__feedback__random__product__block__info">
<div class="content__feedback__random__product__block__info__name">
<p class="content__feedback__random__product__block__info__name__text">The Hare With Amber <br> <span class="red">$50</span></p>
</div>
<div class="content__feedback__random__product__block__info__details"><a class="content__feedback__random__product__block__info__details__button" href="#">Read more</a>
</div>
</div>
</div>
<div class="content__feedback__random__product__block">
<div class="content__feedback__random__product__block__imgs"><img class="content__feedback__random__product__block__imgs__img" src="../imgs/wiews/pages/content2/img/ran.png", alt="ran">
</div>
<div class="content__feedback__random__product__block__info">
<div class="content__feedback__random__product__block__info__name">
<p class="content__feedback__random__product__block__info__name__text">The Hare With Amber <br> <span class="red">$50</span></p>
</div>
<div class="content__feedback__random__product__block__info__details"><a class="content__feedback__random__product__block__info__details__button" href="#">Read more</a>
</div>
</div>
</div>
<div class="content__feedback__random__product__block">
<div class="content__feedback__random__product__block__imgs"><img class="content__feedback__random__product__block__imgs__img" src="../imgs/wiews/pages/content2/img/ran.png", alt="ran">
</div>
<div class="content__feedback__random__product__block__info">
<div class="content__feedback__random__product__block__info__name">
<p class="content__feedback__random__product__block__info__name__text">The Hare With Amber <br> <span class="red">$50</span></p>
</div>
<div class="content__feedback__random__product__block__info__details"><a class="content__feedback__random__product__block__info__details__button" href="#">Read more</a>
</div>
</div>
</div>
<div class="content__feedback__random__product__block">
<div class="content__feedback__random__product__block__imgs"><img class="content__feedback__random__product__block__imgs__img" src="../imgs/wiews/pages/content2/img/ran.png", alt="ran">
</div>
<div class="content__feedback__random__product__block__info">
<div class="content__feedback__random__product__block__info__name">
<p class="content__feedback__random__product__block__info__name__text">The Hare With Amber <br> <span class="red">$50</span></p>
</div>
<div class="content__feedback__random__product__block__info__details"><a class="content__feedback__random__product__block__info__details__button" href="#">Read more</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="additionally">
<div class="additionally__wrapper">
<div class="container"> 
<div class="additionally__inner">
<div class="additionally__one">
<p class="additionally__one__heading">Biography &#38; True Stories</p>
<ul class="additionally__one__links"> 
<li class="additionally__one__links__item">
<a class="additionally__one__links__item__link" href="#">General</a>
</li>
<li class="additionally__one__links__item" >
<a class="additionally__one__links__item__link" href="#">Diaries,Letters &#38; Journals</a>
</li>
<li class="additionally__one__links__item" >
<a class="additionally__one__links__item__link" href="#">Memoirs</a>
</li>
<li class="additionally__one__links__item" >
<a class="additionally__one__links__item__link" href="#">True Stories</a>
</li>
<li class="additionally__one__links__item" >
<a class="additionally__one__links__item__link" href="#">Generic Exams</a>
</li>
<li class="additionally__one__links__item" >
<a class="additionally__one__links__item__link" href="#">GK Titles</a>
</li>
<li class="additionally__one__links__item" >
<a class="additionally__one__links__item__link" href="#">Medical Entrance</a>
</li>
<li class="additionally__one__links__item" >
<a class="additionally__one__links__item__link" href="#">Other Entrance Exams</a>
</li>
<li class="additionally__one__links__item" >
<a class="additionally__one__links__item__link" href="#">PG Entrance Examinations</a>
</li>
<li class="additionally__one__links__item" >
<a class="additionally__one__links__item__link" href="#">Self-help Titles</a>
</li>
<li class="additionally__one__links__item" >
<a class="additionally__one__links__item__link" href="#">Sociology</a>
</li>
</ul>
</div>
<div class="additionally__two">
<p class="additionally__two__heading">Professional &#38; Reference</p>
<ul class="additionally__two__links"> 
<li class="additionally__two__links__item">
<a class="additionally__two__links__item__link" href="#">Academic and Reference</a>
</li>
<li class="additionally__two__links__item" >
<a class="additionally__two__links__item__link" href="#">Business Trade </a>
</li>
<li class="additionally__two__links__item" >
<a class="additionally__two__links__item__link" href="#">Engineering and Computer Science</a>
</li>
<li class="additionally__two__links__item" >
<a class="additionally__two__links__item__link" href="#">Humanities, Social Sciences and Languages</a>
</li>
<li class="additionally__two__links__item" >
<a class="additionally__two__links__item__link" href="#">Introduction to Computers</a>
</li>
<li class="additionally__two__links__item" >
<a class="additionally__two__links__item__link" href="#">Science and Maths</a>
</li>
<li class="additionally__two__links__item" >
<a class="additionally__two__links__item__link" href="#">Trade Business</a>
</li>
<li class="additionally__two__links__item" >
<a class="additionally__two__links__item__link" href="#">English Language &#38; Literature</a>
</li>
<li class="additionally__two__links__item" >
<a class="additionally__two__links__item__link" href="#">English Language Teaching</a>
</li>
<li class="additionally__two__links__item" >
<a class="additionally__two__links__item__link" href="#">Environment Awareness</a>
</li>
<li class="additionally__two__links__item" >
<a class="additionally__two__links__item__link" href="#">Environment Protection</a>
</li>
</ul>
</div>
<div class="additionally__three">
<p class="additionally__three__heading">Earth Sciences</p>
<ul class="additionally__three__links"> 
<li class="additionally__three__links__item">
<a class="additionally__three__links__item__link" href="#">Earth Sciences</a>
</li>
<li class="additionally__three__links__item" >
<a class="additionally__three__links__item__link" href="#">Geography</a>
</li>
<li class="additionally__three__links__item" >
<a class="additionally__three__links__item__link" href="#">The Environment</a>
</li>
<li class="additionally__three__links__item" >
<a class="additionally__three__links__item__link" href="#">Regional &#38; Area Planning</a>
</li>
<li class="additionally__three__links__item" >
<a class="additionally__three__links__item__link" href="#">Fantasy</a>
</li>
<li class="additionally__three__links__item" >
<a class="additionally__three__links__item__link" href="#">Gay</a>
</li>
<li class="additionally__three__links__item" >
<a class="additionally__three__links__item__link" href="#">Humorous</a>
</li>
<li class="additionally__three__links__item" >
<a class="additionally__three__links__item__link" href="#">Interactiv</a>
</li>
<li class="additionally__three__links__item" >
<a class="additionally__three__links__item__link" href="#">Legal</a>
</li>
<li class="additionally__three__links__item" >
<a class="additionally__three__links__item__link" href="#">Lesbian</a>
</li>
<li class="additionally__three__links__item" >
<a class="additionally__three__links__item__link" href="#">Men'S Adventure</a>
</li>
</ul>
</div>
<div class="additionally__four">
<p class="additionally__four__heading">Mathematics</p>
<ul class="additionally__four__links"> 
<li class="additionally__four__links__item">
<a class="additionally__four__links__item__link" href="#">Algebra</a>
</li>
<li class="additionally__four__links__item" >
<a class="additionally__four__links__item__link" href="#">Differential Equations</a>
</li>
<li class="additionally__four__links__item" >
<a class="additionally__four__links__item__link" href="#">Discrete Mathematics</a>
</li>
<li class="additionally__four__links__item" >
<a class="additionally__three__links__item__link" href="#">Fourier Analysis</a>
</li>
<li class="additionally__four__links__item" >
<a class="additionally__four__links__item__link" href="#">Numerical Analysis</a>
</li>
<li class="additionally__four__links__item" >
<a class="additionally__four__links__item__link" href="#">Probability</a>
</li>
<li class="additionally__four__links__item" >
<a class="additionally__four__links__item__link" href="#">Statistical Methods/data Analysis</a>
</li>
<li class="additionally__four__links__item" >
<a class="additionally__four__links__item__link" href="#">Stochastic And Random Processes</a>
</li>
<li class="additionally__four__links__item" >
<a class="additionally__four__links__item__link" href="#">Topology</a>
</li>
<li class="additionally__four__links__item" >
<a class="additionally__four__links__item__link" href="#">Statistics</a>
</li>
<li class="additionally__four__links__item" >
<a class="additionally__four__links__item__link" href="#">Mathematics</a>
</li>
</ul>
</div>        
</div>
</div>
</div>
</section>
<footer class="footer">
<div class="footer__wrapper">
<div class="container">
<div class="footer__inner">
<div class="footer__payment">
<div class="footer__payment__text">
<p class="footer__payment__text__filling" >We accept all major Credit Card/Debit Card/Internet Banking
</p>
</div>
<div class="footer__payment__img">
<ul class="footer__payment__img__icon">
<li class="footer__payment__img__icon__link" >
<a class="footer__payment__img__icon__imgs" href="#"><img class="footer__payment__img__icon__imgs__left" src="../imgs/wiews/common/footer/img/mc.png" alt="MC"></a>
</li>
<li class="footer__payment__img__icon__link" >
<a class="footer__payment__img__icon__imgs" href="#"><img class="footer__payment__img__icon__imgs__center" src="../imgs/wiews/common/footer/img/ae.png" alt="AE"></a>
<li class="footer__payment__img__icon__link" >
<a class="footer__payment__img__icon__imgs" href="#"><img class="footer__payment__img__icon__imgs__right" src="../imgs/wiews/common/footer/img/v.png" alt="VI"></a>
</ul>
</div>
</div>
</div>
</div>
<div class="footer__wrapper__UPN">
<div class="container">
<div class="footer__inner__UPN">
<div class="footer__UPN">
<p class="footer__UPN__text">Conditions of Use Privacy Notice &#169; 2012-2013, Booksonline,Inc, of its affiliates</P>
</div>
</div>
</div>
</footer>
</body>
</html>