//.content__inner {
    //display: flex;
   // flex-direction: row;
   // margin-bottom: 15px;
//}
.content__categories {
    width: 15%;
    border: 1px double grey;
    
}
.content__products {
    width: 85%;
    border: 1px double grey;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.content__products__product {
    border-top: 1px double grey;
}
.content__products__pages {
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content__products__page {
    
    
    border: 1px double grey;
   
 }
.content__products__page__button {
    display: block;
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    background: #f0f0f0;
    @media screen and (max-width: 767px) {
       
        text-align: center;
        padding: 7px 10px;

    }

}

.content__products__product__choice {
    height:33.3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
    }
}
.content__products__product__choice__line {
    width: 15%;
    height: 90%;
   

   
}
.content__products__product__choice__line__img {
    width: 100%;
    height: 70%;
    

}
.content__products__product__choice__line__link {
    height: 100%;
    display: block;
    text-decoration: none;
}
.content__products__product__choice__line__name {
    text-align: center;
    margin: 0;
    height: 30%;
    color: black;
    @media screen and (max-width: 767px) {
       font-size: 10px;
    }


    
}
.content__products__product__choice__line__name__price {
    color: red;
}
.content__categories__heading__text {
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    margin: 10px 0px 10px 0px;
    @media screen and (max-width: 767px) {
        padding-left: 5px;
        font-size: 9px;
        text-align: center;
        font-weight: bold;

    }

}
.content__categories__heading__menu__item {
    position: relative;
   
    }

.content__categories__heading__menu__item:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 1px;
    background-color: #000;
    right: 0;
    margin: 0 auto;
    display: block;
    width: 80%;
    
  }

.content__categories__heading__menu__item__link {
    color: black;
    padding: 5px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    margin: 0 auto;
    display: block;
    @media screen and (max-width: 767px) {
        padding-left: 5px;
        font-size: 60%;
        text-align: center;

    }
}

.content__categories {
    
    padding-bottom: 30px;
}
.content__categories__nav__first__text {
    font-weight: bold;
    padding: 5px 10px;
    margin: 10px 0px 10px 0px;
    @media screen and (max-width: 767px) {
        padding-left: 5px;
        font-size: 60%;
        text-align: center;
    }
}


.content__categories__nav__first__menu__item {
    
     position: relative;
}
.content__categories__nav__first__menu__item:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 1px;
    background-color: #000;
    right: 0;
    margin: 0 auto;
    display: block;
    width: 80%;
  }
.content__categories__nav__second__menu__item:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 1px;
    background-color: #000;
    right: 0;
    margin: 0 auto;
    display: block;
    width: 80%;
  }
.content__categories__nav__third__menu__item:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 1px;
    background-color: #000;
    right: 0;
    margin: 0 auto;
    display: block;
    width: 80%;
  }
.content__categories__nav__first__menu__item__link {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 20px;
    @media screen and (max-width: 767px) {
        padding-left: 5px;
        font-size: 70%;
        text-align: center;
        
       
    }
    
}
.content__categories__nav__second__text {
    font-weight: bold;
    padding: 5px 10px;
    margin: 10px 0px 10px 0px;
    @media screen and (max-width: 767px) {
        padding-left: 5px;
        
        font-size: 75%;
        text-align: center;
    }
}
.content__categories__nav__second__menu__item {
    position: relative;
}
.content__categories__nav__second__menu__item__link {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 20px;
    @media screen and (max-width: 767px) {
        padding-left: 5px;
        font-size: 70%;
        
        padding-right: 10px;
        
        word-wrap: break-word;
    }
}
.content__categories__nav__third__text {
    font-weight: bold;
    padding: 5px 10px;
    margin: 10px 0px 10px 0px;
    @media screen and (max-width: 767px) {
        padding-left: 5px;
        font-size: 80%;
        text-align: center;
    }
}
.content__categories__nav__third__menu__item {
    position: relative;
}
.content__categories__nav__third__menu__item__link {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 20px;
    @media screen and (max-width: 767px) {
        padding-left: 5px;
        font-size: 70%;
        text-align: center;
        
    }
}
