.additionally__inner {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.additionally__wrapper {
    background-color: #484848;
}
.additionally__one {
    width: 25%;
}
.additionally__one__links {
    margin-right: 20%;
}
.additionally__two {
    width: 25%;
}
.additionally__two__links {
    margin-right: 20%;
}
.additionally__three {
    width: 25%;
}
.additionally__three__links {
    margin-right: 20%;
}
.additionally__four {
    width: 25%;
}
.additionally__four__links {
    margin-right: 20%;
}
.additionally__one__links__item__link {
    color: whitesmoke;
    text-decoration: none;
    display: block;
    @media screen and (max-width: 767px) {
        font-size: 10px;
    }
}
.additionally__one__links__item {
    border-bottom: 1px double grey;
}
.additionally__two__links__item__link {
    color: whitesmoke;
    text-decoration: none;
    display: block;
    @media screen and (max-width: 767px) {
        font-size: 10px;
    }
}
.additionally__two__links__item {
    border-bottom: 1px double grey;
}
.additionally__three__links__item__link {
    color: whitesmoke;
    text-decoration: none;
    display: block;
    @media screen and (max-width: 767px) {
        font-size: 10px;
    }
}
.additionally__three__links__item {
    border-bottom: 1px double grey;
}
.additionally__four__links__item__link {
    color: whitesmoke;
    text-decoration: none;
    display: block;
    @media screen and (max-width: 767px) {
        font-size: 10px;
    }
}
.additionally__four__links__item {
    border-bottom: 1px double grey;
}
.additionally__one__heading {
    color: whitesmoke;
    font-size: 20px;
    @media screen and (max-width: 767px) {
        font-size: 15px;
    }
}
.additionally__two__heading {
    color: whitesmoke;
    font-size: 20px;
    @media screen and (max-width: 767px) {
        font-size: 15px;
    }
}
.additionally__three__heading {
    color: whitesmoke;
    font-size: 20px;
    @media screen and (max-width: 767px) {
        font-size: 15px;
    }
}
.additionally__four__heading {
    color: whitesmoke;
    font-size: 20px;
    @media screen and (max-width: 767px) {
        font-size: 15px;
    }
}