.footer__wrapper {
    background: #31302f;
}
.footer__wrapper__UPN {
    border-top: 1px double grey;
}
.footer__inner {
    display: flex;
    flex-direction: column;
}
.footer__payment__text {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 20px;
    @media screen and (max-width: 767px) {
        font-size: 15px;
        text-align: center;
    }
}
.footer__payment__img__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}
.footer__payment__img__icon__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer__UPN__text {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    @media screen and (max-width: 767px) {
        font-size: 10px;
    }
}
.footer__payment__img__icon__imgs {
    margin-left: 10px;
}
.footer__payment__img__icon__imgs__left {
    height: 100%;
    @media screen and (max-width: 767px) {
        height: 50%;
    }
}
.footer__payment__img__icon__imgs__center {
    height: 100%;
    @media screen and (max-width: 767px) {
        height: 50%;
    }
    
}
.footer__payment__img__icon__imgs__right {
    height: 100%;
    @media screen and (max-width: 767px) {
        height: 50%;
    }
    
}