<!doctype html>

<html lang="ru">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>проект</title>
<link rel="stylesheet" href="../styles/assembled.css">
<script src="https://kit.fontawesome.com/b1f4a07e63.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="content"></div>
//= ../../common/header/header.jade
//= ../../pages/advertising/advertising.jade
//= ../../pages/content/content.jade
//= ../../pages/additionally/additionally.jade
//= ../../common/footer/footer.jade
</body>
</html>