.header__wrapper__heading {
    background-color: #424242;

}
    
.header__inner {
    display: flex;
    flex-direction: column;
}
.header__heading {
    display: flex;
    flex-direction: column;
}
.header__heading__nav {
  
    
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row-reverse;
}
.header__heading__nav__menu {
    display: flex;
}
.header__heading__nav__menu__item {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}
.header__heading__nav__menu__item__link {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.header__wrapper__user__data {
    background-color: #f0f0f0;
}
.header__heading__user__data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.header__heading__user__data__logo {
    width: 10%;
    @media screen and (max-width: 767px) {
        display: none;
  }
}
.header__heading__user__data__logo__img {
    width: 100%;
    height: 100%;
    @media screen and (max-width: 767px) {
        height: 70%;
  }
      
}
.header__heading__user__data__search {
    min-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.header__heading__user__data__search__field {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header__heading__user__data__search__field__left {
    width: 60%;
    border: solid #8dcf70;
    @media screen and (max-width: 767px) {
        width: 70%;
  }

}
.header__heading__user__data__search__field__right {
    width: 15%;
    background-color: #8dcf70;
    padding-bottom: 1px;
    border: solid #8dcf70;
    @media screen and (max-width: 767px) {
        width: 30%;
  }
}
.header__heading__user__data__purchases {
    display: flex;
    flex-direction: column;
    width: 20%;

    
}
.header__heading__user__data__purchases__basket__payment__price {
    @media screen and (max-width: 767px) {
        font-size: 10px;
   }
}

.header__heading__user__data__purchases__basket {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
   
    
}
.header__heading__user__data__purchases__basket__quantity {
    @media screen and (max-width: 767px) {
        font-size: 10px;
   }
}
.header__heading__user__data__purchases__order {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        
  }
    
    
}
.header__heading__user__data__purchases__favorites {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.block-vert-line::after { 
    content: " ";
    background: grey;
    width: 2px;
    height: 60px;
    float: right;
    margin-top: 15px;
    }

.header__heading__user__data__purchases__favorites__name {
    margin-top: 5px;
}
.header__heading__user__data__purchases__basket__reservation__button {
    background: #323232;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin: 0 auto;
}
.header__heading__user__data__purchases__basket__quntity__text {
    margin-bottom: 0;
    margin-left: 10px;
}
.header__heading__user__data__purchases__basket__reservation__button {
    margin-top: 15px;
    margin-left: 10px;
    @media screen and (max-width: 767px) {
       font-size: 7px;
  }
}
.header__wrapper__sections {
    border-top: 1px double grey;
    border-bottom: 1px double grey;
    margin-bottom: 10px;
}
.header__heading__sections__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media screen and (max-width: 767px) {
          flex-wrap: wrap;
    }
}
.header__heading__sections {
    
    
    padding: 4px;
    padding-bottom: 5px;
}
.header__heading__sections__menu__item__link {
    
    color: #7c7c7c;
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin: 0 auto;
}
  
   a:hover {
    background: #8dcf70; /* Цвет фона под ссылкой */ 
    color: #ffe; /* Цвет ссылки */ 
   } 
.fas {
    color: black;
}