.content__inner {
    display: flex;
    flex-direction: column;
}
.content__nav {
    border: 1px double grey;
    color: #7c7c7c;
    border-radius: 5px;
    margin-bottom: 10px;
}
.content__nav__position {
    margin: 5px;
    padding-left: 5px;

}
.content__product {
    display: flex;
    flex-direction: row;
    border: 1px double grey;
    border-radius: 5px;
    margin-bottom: 10px;
}
.content__product__display {
    width: 30%;
    @media screen and (max-width: 812px) {
        display: none;
    }
}
.content__product__display__img {
    width: 100%;
    height: 100%;
    padding: 30px;
    
}
.content__product__about {
    width: 80%;
    padding: 30px;
    @media screen and (max-width: 812px) {
        width: 100%;
    }


}
.content__product__about__description {
    height: 55%;
}
.content__product__about__description__text {
    line-height: 2em;
    margin-bottom: 0;
    @media screen and (max-width: 1024px) {
        line-height: 1em;
    }
}

.content__product__about__order {
    border: 1px double grey;
    height: 40%;
    margin-right: 50px;
    @media screen and (max-width: 1024px) {
        margin-top: 10px;
        margin-right: 0px;
    }
    @media screen and (max-width: 812px) {
        
        margin-right: 0px;
    }
}
.content__product__about__order__shoping {
    padding-left: 15px;
    margin-top: 5px;
    @media screen and (max-width: 568px) {
        padding-left: 0px;
    }
}
.content__product__about__order__shoping__sss {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    
}
.content__product__about__order__shoping__icon {
    display: flex;
    flex-direction: row;
    
    
}
.content__product__about__order__shoping__icon__imgs__img {
    height: 100%;
}
.content__product__about__order__shoping__icon__link {
    margin-left: 12px;
    

}
.content__product__about__order__shoping__text {
    margin: 0;
    padding-left: 5px;
    margin-bottom: 3px;
    
}
.content__product__about__order__price {
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.content__product__about__order__price__amount {
    width: 50%;
}
.content__product__about__order__price__amount__link {
    text-decoration: none;
    color: darkblue;
    font-size: 40px;
    @media screen and (max-width: 1024px) {
        font-size: 20px;
    }
}
.content__product__about__order__price__amount__text {
    margin: 0;
    padding-left: 5px;

}
.red {
    color: red;
}
.content__product__about__order__calculation__button {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content__product__about__order__calculation__button__link {
    background: #323232;
    color: #fff;
    padding: 8px 40px;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin: 0 auto;
    @media screen and (max-width: 812px) {
        padding: 5px 10px;
    }
}

.content__feedback {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.content__feedback__information {
    width: 80%;
    margin-right: 10px;
    @media screen and (max-width: 1024px) {
        width: 100%;
    }
   

}
.content__feedback__information__product {
    border: 1px double grey;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 30px;
    @media screen and (max-width: 812px) {
        padding-right: 10px;
    }
    
}
.content__feedback__information__product__heading {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.content__feedback__information__product__heading__button {
    background: #504f4f;
    color: #fff;
    padding: 8px 40px;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
  
}
.content__feedback__information__product__heading__text {
    font-weight: bold;
    margin-right: 30px;
    font-size: 20px;
    
}
.content__feedback__comments__read__first__avatar__img {
    padding-left: 5px;
}
.content__feedback__comments__read__first__avatar__name {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
}
.content__feedback__comments__read__first__text {
    font-size: 14px;
    padding-left: 20px;
    margin: 0;
}
.content__feedback__comments__read__second__avatar__img {
    padding-left: 5px;
}
.content__feedback__comments__read__second__avatar__name {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
}
.content__feedback__comments__read__second__text {
    font-size: 14px;
    padding-left: 20px;
    margin: 0;
}
.content__feedback__comments {
    border: 1px double grey;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.content__feedback__comments__read__heading {
    font-weight: bold;
    font-size: 20px;
}
.content__feedback__comments__read__first {
    display: flex;
    flex-direction: row;
}
.content__feedback__comments__read__second {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.content__feedback__random {
    border: 1px double grey;
    border-radius: 5px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media screen and (max-width: 1024px) {
        display: none;
    }

}
.content__feedback__comments__write__heading__text {
    font-weight: bold;
    font-size: 20px;
}
.content__feedback__comments__write__filds__first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content__feedback__comments__write__filds__first__link {
    width: 85%;
    margin-right: 30px;
    @media screen and (max-width: 1024px) {
        border: solid gray;
    }
    
   

}
.content__feedback__comments__write__filds__second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content__feedback__comments__write__filds__second__link {
    width: 85%;
    margin-right: 30px;
    @media screen and (max-width: 1024px) {
        border: solid gray;
    }
    @media screen and (max-width: 812px) {
        border: solid gray;
        margin-left: 20px;
    }

}
.content__feedback__comments__write__filds__third {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.content__feedback__comments__write__filds__third__link {
    width: 85%;
    margin-right: 30px;
    height: 100px;
    @media screen and (max-width: 1024px) {
        border: solid gray;
    }
}
.content__feedback__comments__write__filds__third__name {
    margin-top: 0;
    
}
.content__feedback__comments__write__filds__send {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    margin-top: 10px;
}
.content__feedback__comments__write__filds__send__button {
    background: #504f4f;
    color: #fff;
    padding: 8px 30px;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
.content__feedback__random__product__block {
    border-bottom: 1px double grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.content__feedback__random__heading__text {
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    margin-bottom: 0;
}
.content__feedback__random__product__block__info__details__button {
    background: #504f4f;
    color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
.content__feedback__random__product__block {
    padding: 10px;
}
.content__feedback__random__product__block__info__name__text {
    margin-top: 0;
    margin-bottom: 5px;

}

.block-goriz-line { 
    border: none; /* Убираем границу */
    background-color:gray; /* Цвет линии */
    color: gray; /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;

    }
    .block-goriz-line2 { 
        border: none; /* Убираем границу */
        background-color:gray; /* Цвет линии */
        color: gray; /* Цвет линии для IE6-7 */
        height: 1px; /* Толщина линии */
        margin: 0;
       
       
    
        }