<section class="advertising">
<div class="advertising__wrapper">
<div class="container"> 
<div class="advertising__inner">
<div class="advertising__left"><img class="advertising__left__img" src="../imgs/wiews/pages/advertising/img/advertising__left.png" alt="advertising__left" class="img">
</div>
<div class="advertising__right"><img class="advertising__right__img" src="../imgs/wiews/pages/advertising/img/advertising__right.png" alt="advertising__fight" class="img">
</div>
</div>
</div>
</div>
</section>