<section class="content">
<div class="content__wrapper">
<div class="container"> 
<div class="content__inner">
<div class="content__categories">
<div class="content__categories__heading">
<p class="content__categories__heading__text">Categories</p>
<ul class="content__categories__heading__menu"> 
<li class="content__categories__heading__menu__item" >
<a class="content__categories__heading__menu__item__link" href="#">ALL</a>
</li>
</ul>
</div>
<div class="content__categories__nav__first">
<p class="content__categories__nav__first__text">Fiction &#38; Literature</p>
<ul class="content__categories__nav__first__menu"> 
<li class="content__categories__nav__first__menu__item" >
<a class="content__categories__nav__first__menu__item__link" href="#">Children</a>
</li>
<li class="content__categories__nav__first__menu__item" >
<a class="content__categories__nav__first__menu__item__link" href="#">Science Fiction</a>
</li>
<li class="content__categories__nav__first__menu__item" >
<a class="content__categories__nav__first__menu__item__link" href="#">Fantasy</a>
</li>
<li class="content__categories__nav__first__menu__item" >
<a class="content__categories__nav__first__menu__item__link" href="#">Mystery</a>
</li>
<li class="content__categories__nav__first__menu__item" >
<a class="content__categories__nav__first__menu__item__link" href="#">Romance</a>
</li>
<li class="content__categories__nav__first__menu__item" >
<a class="content__categories__nav__first__menu__item__link" href="#">Horror</a>
</li>
<li class="content__categories__nav__first__menu__item" >
<a class="content__categories__nav__first__menu__item__link" href="#">Poetry</a>
</li>
<li class="content__categories__nav__first__menu__item" >
<a class="content__categories__nav__first__menu__item__link" href="#">Literature</a>
</li>
<li class="content__categories__nav__first__menu__item" >
<a class="content__categories__nav__first__menu__item__link" href="#">Crime</a>
</li>
</ul>
</div>
<div class="content__categories__nav__second">
<p class="content__categories__nav__second__text">Non - Fiction</p>
<ul class="content__categories__nav__second__menu"> 
<li class="content__categories__nav__second__menu__item" >
<a class="content__categories__nav__second__menu__item__link" href="#">Comic</a>
</li>
<li class="content__categories__nav__second__menu__item" >
<a class="content__categories__nav__second__menu__item__link" href="#">Cook</a>
</li>
<li class="content__categories__nav__second__menu__item" >
<a class="content__categories__nav__second__menu__item__link" href="#">Psychology</a>
</li>
<li class="content__categories__nav__second__menu__item" >
<a class="content__categories__nav__second__menu__item__link" href="#">Medical</a>
</li>
<li class="content__categories__nav__second__menu__item" >
<a class="content__categories__nav__second__menu__item__link" href="#">Art</a>
</li>
<li class="content__categories__nav__second__menu__item" >
<a class="content__categories__nav__second__menu__item__link" href="#">Photography</a>
</li>
<li class="content__categories__nav__second__menu__item" >
<a class="content__categories__nav__second__menu__item__link" href="#">Law</a>
</li>
<li class="content__categories__nav__second__menu__item" >
<a class="content__categories__nav__second__menu__item__link" href="#">History</a>
</li>
<li class="content__categories__nav__second__menu__item" >
<a class="content__categories__nav__second__menu__item__link" href="#">Business</a>
</li>
<li class="content__categories__nav__second__menu__item" >
<a class="content__categories__nav__second__menu__item__link" href="#">Computer</a>
</li>
</ul>
</div>
<div class="content__categories__nav__third">
<p class="content__categories__nav__third__text">Other</p>
<ul class="content__categories__nav__third__menu"> 
<li class="content__categories__nav__third__menu__item" >
<a class="content__categories__nav__third__menu__item__link" href="#">Baby</a>
</li>
<li class="content__categories__nav__third__menu__item" >
<a class="content__categories__nav__third__menu__item__link" href="#">Sex</a>
</li>
<li class="content__categories__nav__third__menu__item" >
<a class="content__categories__nav__third__menu__item__link" href="#">Travel</a>
</li>
<li class="content__categories__nav__third__menu__item" >
<a class="content__categories__nav__third__menu__item__link" href="#">Science</a>
</li>
<li class="content__categories__nav__third__menu__item" >
<a class="content__categories__nav__third__menu__item__link" href="#">Sports</a>
</li>
</ul>
</div>
</div>
<div class="content__products">
<div class="content__products__pages">
<div class="content__products__page">
<a class="content__products__page__button" href="#">New Arrivals</a>
</div>
<div class="content__products__page">
<a class="content__products__page__button" href="#">Used Books</a>
</div>
<div class="content__products__page">
<a class="content__products__page__button" href="#">Special Offers</a>
</div>
</div>
<div class="content__products__product">
<div class="content__products__product__choice">
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/war.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">The war of <br> Art <br> <span class="content__products__product__choice__line__name__price">$50</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/war.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">The war of <br> Art <br> <span class="content__products__product__choice__line__name__price">$50</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/war.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">The war of <br> Art <br> <span class="content__products__product__choice__line__name__price">$50</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/war.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">The war of <br> Art <br> <span class="content__products__product__choice__line__name__price">$50</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/war.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">The war of <br> Art <br> <span class="content__products__product__choice__line__name__price">$50</span></p></div></a></div>
</div>
<div class="content__products__product__choice">
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/meluha.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">The Immortals <br> of Meluha <br> <span class="content__products__product__choice__line__name__price">$80</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/meluha.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">The Immortals <br> of Meluha <br> <span class="content__products__product__choice__line__name__price">$80</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/meluha.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">The Immortals <br> of Meluha <br> <span class="content__products__product__choice__line__name__price">$80</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/meluha.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">The Immortals <br> of Meluha <br> <span class="content__products__product__choice__line__name__price">$80</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/meluha.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">The Immortals <br> of Meluha <br> <span class="content__products__product__choice__line__name__price">$80</span></p></div></a></div>
</div>
<div class="content__products__product__choice">
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/life.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">Life is What You <br> Make it <br> <span class="content__products__product__choice__line__name__price">$200</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/life.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">Life is What You <br> Make it <br> <span class="content__products__product__choice__line__name__price">$200</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/life.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">Life is What You <br> Make it <br> <span class="content__products__product__choice__line__name__price">$200</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/life.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">Life is What You <br> Make it <br> <span class="content__products__product__choice__line__name__price">$200</span></p></div></a></div>
<div class="content__products__product__choice__line">
<div class="content__products__product__choice__line__img"><a class="content__products__product__choice__line__link" href="#">
<img src="../imgs/wiews/pages/content/img/life.png" width="100%" height="100%" alt="Пример">
<p class="content__products__product__choice__line__name">Life is What You <br> Make it <br> <span class="content__products__product__choice__line__name__price">$200</span></p></div></a></div>
</div> 
</div>
</div>
</div>
</div>
</div>
</section>