<section class="content">
<div class="content__wrapper">
<div class="container"> 
<div class="content__inner">
<div class="content__nav">
<p class="content__nav__position">Home &#187; Discounts and Clearance &#187; Sonatini Hippeastrum Alaska</p>
</div>
<div class="content__product">
<div class="content__product__display"><img class="content__product__display__img" src="../imgs/wiews/pages/content2/img/swe.png", alt="swe">
</div>
<div class="content__product__about">
<div class="content__product__about__description">
<h1 class="content__product__about__description__heading">Star Wars Episode 1</h1>
<p class="content__product__about__description__text">The Star Wars Episode 1: The Phantom Menace novelization was written by Terry Brooks <br> and published on April 21, 1999 by Del Rey. It is based on the script of the movie of the <br> same name. Narration for the abridget audio version was performed by Michael <br> Cumpsty. The unabridged version was performed by Alexander Adams. On January 31, <br> 2012, a new paperback edition. </p>
</div>
<div class="content__product__about__order">
<div class="content__product__about__order__price">
<div class="content__product__about__order__price__amount"><a class="content__product__about__order__price__amount__link" href="#">Our price : <span class="red">$150</span></a>
<p class="content__product__about__order__price__amount__text">Was $ 200 Save 20%</p>
</div>
<div class="content__product__about__order__calculation__button"><a class="content__product__about__order__calculation__button__link" href="#">Add to cart</a>
</div>
</div>
<hr class="block-goriz-line">
<div class="content__product__about__order__shoping">
<div class="content__product__about__order__shoping__sss">
<i class="fas fa-lock"></i>
<p class="content__product__about__order__shoping__text">Safe,Secure Shopping</p>
</div>
<ul class="content__product__about__order__shoping__icon">
<li class="content__product__about__order__shoping__icon__link" >
<a class="content__product__about__order__shoping__icon__imgs" href="#"><img class="content__product__about__order__shoping__icon__imgs__img" src="../imgs/wiews/pages/content2/img/pp.png" alt="PP"></a>
</li>
<li class="content__product__about__order__shoping__icon__link" >
<a class="content__product__about__order__shoping__icon__imgs" href="#"><img class="content__product__about__order__shoping__icon__imgs__img" src="../imgs/wiews/common/footer/img/mc.png" alt="MC"></a>
<li class="content__product__about__order__shoping__icon__link" >
<a class="content__product__about__order__shoping__icon__imgs" href="#"><img class="content__product__about__order__shoping__icon__imgs__img" src="../imgs/wiews/common/footer/img/ae.png" alt="AE"></a>
<li class="content__product__about__order__shoping__icon__link" >
<a class="content__product__about__order__shoping__icon__imgs" href="#"><img class="content__product__about__order__shoping__icon__imgs__img" src="../imgs/wiews/common/footer/img/v.png" alt="AE"></a>
</ul>
</div>
</div>
</div>
</div>
<div class="content__feedback">
<div class="content__feedback__information">
<div class="content__feedback__information__product">
<div class="content__feedback__information__product__heading">
<p class="content__feedback__information__product__heading__text">Product Information</p>
<a class="content__feedback__information__product__heading__button" href="#">Other details</a>
</div>
<p class="content__feedback__information__product__text">The Star Wars Episode 1: The Phantom Menace novelization was written by Terry Brooks and published on <br> April 21, 1999 by Del Rey. It is based on the script of the movie of the same name. Narration for the <br> abridget audio version was performed by Michael Cumpsty. The unabridged version was performed by <br> Alexander Adams. On January 31, 2012, a new paperback edition.</p>

</div>
<div class="content__feedback__comments">
<div class="content__feedback__comments__read">
<div class="content__feedback__comments__read__heading">
<p class="content__feedback__comments__read__heading__text">Product review</p>
</div>
<div class="content__feedback__comments__read__first">
<div class="content__feedback__comments__read__first__avatar"><img class="content__feedback__comments__read__first__avatar__img" src="../imgs/wiews/pages/content2/img/ava.png", alt="ava">
<p class="content__feedback__comments__read__first__avatar__name">Name 1</p>
</div>
<p class="content__feedback__comments__read__first__text">The Star Wars Episode 1: The Phantom Menace novelization was written by Terry Brooks and published on <br> April 21, 1999 by Del Rey. It is based on the script of the movie of the same name. Narration for the <br> abridget audio version was performed by Michael Cumpsty. The unabridged version was performed by <br> Alexander Adams. On January 31, 2012, a new paperback edition.</p>
</div>
<hr class="block-goriz-line2">
<div class="content__feedback__comments__read__second">
<div class="content__feedback__comments__read__second__avatar"><img class="content__feedback__comments__read__second__avatar__img" src="../imgs/wiews/pages/content2/img/ava.png", alt="ava">
<p class="content__feedback__comments__read__second__avatar__name">Name 2</p>
</div>
<p class="content__feedback__comments__read__second__text">The Star Wars Episode 1: The Phantom Menace novelization was written by Terry Brooks and published on <br> April 21, 1999 by Del Rey. It is based on the script of the movie of the same name. Narration for the <br> abridget audio version was performed by Michael Cumpsty. The unabridged version was performed by <br> Alexander Adams. On January 31, 2012, a new paperback edition.</p>
</div>
</div>
<div class="content__feedback__comments__write">
<div class="content__feedback__comments__write__heading">
<p class="content__feedback__comments__write__heading__text">Write a comment</p>
</div>
<div class="content__feedback__comments__write__filds">
<div class="content__feedback__comments__write__filds__first"><p class="content__feedback__comments__write__filds__first__name">Your name</p>
<input class="content__feedback__comments__write__filds__first__link" type="search" name="q"placeholder="">
</div>
<div class="content__feedback__comments__write__filds__second"><p class="content__feedback__comments__write__filds__second__name">email</p>
<input class="content__feedback__comments__write__filds__second__link" type="emeil" name="q"placeholder="">
</div>
<div class="content__feedback__comments__write__filds__third"><p class="content__feedback__comments__write__filds__third__name">Message</p>
<input class="content__feedback__comments__write__filds__third__link" type="Message" name="q"placeholder="">
</div>
<div class="content__feedback__comments__write__filds__send"><a class="content__feedback__comments__write__filds__send__button" href="#">Submit</a></div>

</div>
</div>
</div>
</div>
<div class="content__feedback__random">
<div class="content__feedback__random__heading">
<p class="content__feedback__random__heading__text">You may also like</p>
</div>
<div class="content__feedback__random__product">
<div class="content__feedback__random__product__block">
<div class="content__feedback__random__product__block__imgs"><img class="content__feedback__random__product__block__imgs__img" src="../imgs/wiews/pages/content2/img/ran.png", alt="ran">
</div>
<div class="content__feedback__random__product__block__info">
<div class="content__feedback__random__product__block__info__name">
<p class="content__feedback__random__product__block__info__name__text">The Hare With Amber <br> <span class="red">$50</span></p>
</div>
<div class="content__feedback__random__product__block__info__details"><a class="content__feedback__random__product__block__info__details__button" href="#">Read more</a>
</div>
</div>
</div>
<div class="content__feedback__random__product__block">
<div class="content__feedback__random__product__block__imgs"><img class="content__feedback__random__product__block__imgs__img" src="../imgs/wiews/pages/content2/img/ran.png", alt="ran">
</div>
<div class="content__feedback__random__product__block__info">
<div class="content__feedback__random__product__block__info__name">
<p class="content__feedback__random__product__block__info__name__text">The Hare With Amber <br> <span class="red">$50</span></p>
</div>
<div class="content__feedback__random__product__block__info__details"><a class="content__feedback__random__product__block__info__details__button" href="#">Read more</a>
</div>
</div>
</div>
<div class="content__feedback__random__product__block">
<div class="content__feedback__random__product__block__imgs"><img class="content__feedback__random__product__block__imgs__img" src="../imgs/wiews/pages/content2/img/ran.png", alt="ran">
</div>
<div class="content__feedback__random__product__block__info">
<div class="content__feedback__random__product__block__info__name">
<p class="content__feedback__random__product__block__info__name__text">The Hare With Amber <br> <span class="red">$50</span></p>
</div>
<div class="content__feedback__random__product__block__info__details"><a class="content__feedback__random__product__block__info__details__button" href="#">Read more</a>
</div>
</div>
</div>
<div class="content__feedback__random__product__block">
<div class="content__feedback__random__product__block__imgs"><img class="content__feedback__random__product__block__imgs__img" src="../imgs/wiews/pages/content2/img/ran.png", alt="ran">
</div>
<div class="content__feedback__random__product__block__info">
<div class="content__feedback__random__product__block__info__name">
<p class="content__feedback__random__product__block__info__name__text">The Hare With Amber <br> <span class="red">$50</span></p>
</div>
<div class="content__feedback__random__product__block__info__details"><a class="content__feedback__random__product__block__info__details__button" href="#">Read more</a>
</div>
</div>
</div>
<div class="content__feedback__random__product__block">
<div class="content__feedback__random__product__block__imgs"><img class="content__feedback__random__product__block__imgs__img" src="../imgs/wiews/pages/content2/img/ran.png", alt="ran">
</div>
<div class="content__feedback__random__product__block__info">
<div class="content__feedback__random__product__block__info__name">
<p class="content__feedback__random__product__block__info__name__text">The Hare With Amber <br> <span class="red">$50</span></p>
</div>
<div class="content__feedback__random__product__block__info__details"><a class="content__feedback__random__product__block__info__details__button" href="#">Read more</a>
</div>
</div>
</div>
<div class="content__feedback__random__product__block">
<div class="content__feedback__random__product__block__imgs"><img class="content__feedback__random__product__block__imgs__img" src="../imgs/wiews/pages/content2/img/ran.png", alt="ran">
</div>
<div class="content__feedback__random__product__block__info">
<div class="content__feedback__random__product__block__info__name">
<p class="content__feedback__random__product__block__info__name__text">The Hare With Amber <br> <span class="red">$50</span></p>
</div>
<div class="content__feedback__random__product__block__info__details"><a class="content__feedback__random__product__block__info__details__button" href="#">Read more</a>
</div>
</div>
</div>
<div class="content__feedback__random__product__block">
<div class="content__feedback__random__product__block__imgs"><img class="content__feedback__random__product__block__imgs__img" src="../imgs/wiews/pages/content2/img/ran.png", alt="ran">
</div>
<div class="content__feedback__random__product__block__info">
<div class="content__feedback__random__product__block__info__name">
<p class="content__feedback__random__product__block__info__name__text">The Hare With Amber <br> <span class="red">$50</span></p>
</div>
<div class="content__feedback__random__product__block__info__details"><a class="content__feedback__random__product__block__info__details__button" href="#">Read more</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>