<header class="header">
<div class="header__wrapper__heading">
<div class="container">
<div class="header__inner__heading">
<div class="header__heading">
<nav class="header__heading__nav">
<ul class="header__heading__nav__menu"> 
<li class="header__heading__nav__menu__item" >
<a class="header__heading__nav__menu__item__link" href="#">Sign in</a>
</li>
<li class="header__heading__nav__menu__item" >
<a class="header__heading__nav__menu__item__link" href="#">My account</a>
</li>
<li class="header__heading__nav__menu__item" >
<a class="header__heading__nav__menu__item__link" href="#">Order Status</a>
</li>
<li class="header__heading__nav__menu__item" >
<a class="header__heading__nav__menu__item__link" href="#">Help</a>
</li>
</ul>
</nav>
</div>
</div>
</div>
</div>
<div class="header__wrapper__user__data">
<div class="container">
<div class="header__inner__user__data">
<div class="header__heading__user__data">
<div class="header__heading__user__data__logo"><img class="header__heading__user__data__logo__img" src="../imgs/wiews/common/header/img/logo.png" alt="logo" class="logo"></div>
<div class="header__heading__user__data__search"><div class="header__heading__user__data__search__field"><input class="header__heading__user__data__search__field__left" type="search" name="q"placeholder="Site search "><input class="header__heading__user__data__search__field__right" type="submit" value="Search"></div></div>
<div class="header__heading__user__data__purchases">
<div class="header__heading__user__data__purchases__basket">
<div class="header__heading__user__data__purchases__basket__filling"><a class="header__heading__user__data__purchases__basket__filling__icon" href="#"><i class="fas fa-cart-arrow-down"></i></a></div>
<div class="header__heading__user__data__purchases__basket__quantity"><p class="header__heading__user__data__purchases__basket__quntity__text">Your cart</p></div>
</div>

<div class="header__heading__user__data__purchases__order">
<div class="header__heading__user__data__purchases__order__payment"><p class="header__heading__user__data__purchases__basket__payment__price">$125.0</p></div>
<div class="header__heading__user__data__purchases__basket__reservation"><a class="header__heading__user__data__purchases__basket__reservation__button" href="#">Checkout</a></div></div>

</div>
<div class="block-vert-line"></div>
<div class="header__heading__user__data__purchases__favorites">
<a class="header__heading__user__data__purchases__favorites__icon" href="#"><i class="fas fa-star"></i></a>

<p class="header__heading__user__data__purchases__favorites__name">Wish list</p>
</div>
</div>
</div>
</div>
</div>
<div class="header__wrapper__sections">
<div class="container">
<div class="header__inner__sections">
<div class="header__heading__sections">
<ul class="header__heading__sections__menu"> 
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Computers</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Cooking</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Education</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Fiction</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Healts</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Mathematics</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Medical</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Reference</a>
</li>
<li class="header__heading__sections__menu__item" >
<a class="header__heading__sections__menu__item__link" href="#">Science</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</header>