<footer class="footer">
<div class="footer__wrapper">
<div class="container">
<div class="footer__inner">
<div class="footer__payment">
<div class="footer__payment__text">
<p class="footer__payment__text__filling" >We accept all major Credit Card/Debit Card/Internet Banking
</p>
</div>
<div class="footer__payment__img">
<ul class="footer__payment__img__icon">
<li class="footer__payment__img__icon__link" >
<a class="footer__payment__img__icon__imgs" href="#"><img class="footer__payment__img__icon__imgs__left" src="../imgs/wiews/common/footer/img/mc.png" alt="MC"></a>
</li>
<li class="footer__payment__img__icon__link" >
<a class="footer__payment__img__icon__imgs" href="#"><img class="footer__payment__img__icon__imgs__center" src="../imgs/wiews/common/footer/img/ae.png" alt="AE"></a>
<li class="footer__payment__img__icon__link" >
<a class="footer__payment__img__icon__imgs" href="#"><img class="footer__payment__img__icon__imgs__right" src="../imgs/wiews/common/footer/img/v.png" alt="VI"></a>
</ul>
</div>
</div>
</div>
</div>
<div class="footer__wrapper__UPN">
<div class="container">
<div class="footer__inner__UPN">
<div class="footer__UPN">
<p class="footer__UPN__text">Conditions of Use Privacy Notice &#169; 2012-2013, Booksonline,Inc, of its affiliates</P>
</div>
</div>
</div>
</footer>